# Packages
node_modules/
package-lock.json

# Build
# Temporary disabled to use it for npm reference to test optimistic balance in test env
# dist/
.rollup.cache/

*.tsbuildinfo

# Logs
*.log

# OS
.DS_Store

# IDE
.idea/
.vscode/

# Tests
coverage/
.jest/

# Vi
*.swp

# All env files, except .env.example
.env*
!.env.example

# Local build
*.tgz

# Generated types
src/types/defuse-contracts-types.d.ts