@import "@radix-ui/themes/styles.css";

@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind variants;

:host {
  @apply contents;
}

@layer base {
  :host {
    --color-border: var(--sand-4);
    --color-label: var(--sand-12);
  }

  .dark {
    /**
     * It's not a mistake, duplicating the same color values here.
     * They are Radix UI colors palette, and they're switched based on the theme.
     */
    --color-border: var(--sand-4);
    --color-label: var(--sand-12);
  }
}
