.tooltipInfo {
  font-size: 12px;
  min-width: 200px;
  background-color: #000000;
  color: #ffffff;
  border-radius: 4px;
  padding: 0.125rem 0.5rem;
}

@media (max-width: 767px) {
  /* TODO: Should make it work on mobile */
  .tooltipInfoWrapper {
    display: none;
  }
}
